@font-face {
  font-family: "gen";
  src: url(../font/GenJyuuGothic-Medium.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
}

ul {
  list-style-type: none;
}

a {
  color: black;
  text-decoration: none;
}

.remove {
  transform: scale(0);
  transition: all 0.5s ease;
}

body {
  background-color: #272727;
  color: white;
}
body section.animationWrapper {
  width: 100%;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0px;
}
body section.animationWrapper section.animation {
  margin-top: 10vh;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body section.animationWrapper section.animation div.mathImg {
  width: 100%;
  height: 0%;
}
body section.animationWrapper section.animation div.mathImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body section.animationWrapper .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(144, 144, 144), rgb(0, 0, 0));
  z-index: -1;
}
body header nav {
  box-shadow: 0 10px 6px -6px rgb(16, 16, 16);
}
body header nav ul {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 400px) {
  body header nav ul {
    flex-direction: column;
  }
}
body header nav ul li {
  padding: 1rem;
}
body header nav ul li a {
  font-size: 1.15rem;
  color: white;
  transition: all 0.2s ease;
}
body header nav ul li a:hover {
  color: rgb(245, 204, 151);
}
body main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.title {
  padding: 1rem;
}
body main section.title h1 {
  font-size: 3rem;
}
@media screen and (max-width: 450px) {
  body main section.title h1 {
    font-size: 2.5rem;
  }
}
body main section.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.middle div.order button {
  margin: 0rem 0.3rem;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  font-family: "gen";
  font-weight: lighter;
  color: rgba(128, 128, 128, 0.8);
  cursor: pointer;
}
body main section.middle div.form {
  padding-top: 1rem;
}
body main section.middle div.form form div.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main section.middle div.form form div.input input {
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.3rem 0.7rem;
  border: 2px solid #272727;
  border-radius: 0.3rem;
  width: 20%;
}
body main section.middle div.form form div.input input.credits {
  width: 12%;
}
body main section.middle div.form form div.input select {
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem 0.5rem;
  border: 2px solid #272727;
  border-radius: 0.3rem;
}
body main section.middle div.form form div.input button {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 0.2rem;
  padding: 0.2rem;
  border: 2px solid #272727;
  background-color: #272727;
  border-radius: 0.3rem;
}
@keyframes scaleDown {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
body main section.middle div.form form div.input button i {
  vertical-align: middle;
  pointer-events: none;
  font-size: 1.5rem;
  color: white;
}
body main section.middle button.add {
  cursor: pointer;
  font-size: 1.1rem;
  margin: 1rem;
  padding: 0.2rem 0.4rem;
  border: 2px solid #272727;
  background-color: white;
  border-radius: 0.3rem;
}
@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
body main section.middle button.add i {
  vertical-align: middle;
  pointer-events: none;
  font-size: 1.5rem;
  color: #272727;
}
body main section.result {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: changeColor 8s infinite;
}
@keyframes changeColor {
  0% {
    border: 3px solid yellow;
  }
  33% {
    border: 3px solid limegreen;
  }
  66% {
    border: 3px solid blueviolet;
  }
  100% {
    border: 3px solid yellow;
  }
}
body main section.result div.result p {
  font-size: 1.5rem;
  text-align: center;
}
body main section.result div.result h2 {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
}/*# sourceMappingURL=style.css.map */